<!-- PROFILE -->

<section class="profile">
    <div class="container">
        <h3 class="md black">Profile</h3>
        <% if(messages.error) { %>
                  <div class="alert alert-danger" style="<%= messages.error ? 'margin-top:20px;' : 'display: none' %>"><strong><%= messages.error ? messages.error[0] : '' %></strong></div>
                  <% } %>

                  <% if(messages.success) { %>
                    <div class="alert alert-success" style="<%= messages.success ? 'margin-top:20px;' : 'display: none' %>"><strong><%= messages.success ? messages.success[0] : '' %></strong></div>
          <% } %>
        <div class="row">
          <form id="profileForm" method="Post" enctype="multipart/form-data" action="/users/update/<%= user._id %>">
            <div class="col-md-9">
                <div class="avatar-acount">
                    <div class="changes-avatar">
                        <div class="img-acount">
                            <img src="<%= user.profilePicUrl ? '/assets/img/uploads/'+ user.profilePicUrl : '/images/team-13.jpg'%>" alt="">
                        </div>
                        <div class="choses-file up-file">
                            <input type="file" name="profilePicUrl">
                            <a href="#" class="mc-btn btn-style-6">Change image</a>
                        </div>
                    </div>
                    <div class="info-acount">
                        <h3 class="md black"><%= user.firstName %> <%= user.lastName %></h3>
                        <label class="pull-right">Bio</label>
                        <textarea name="bio" placeholder="Write something about yourself..."><%= user.bio %></textarea>
                        <div class="security">
                            <div class="tittle-security">
                                <h5>Firstname</h5>
                                <input name="firstName" value="<%= user.firstName %>" type="text">
                                <h5>Lastname</h5>
                                <input name="lastName" value="<%= user.lastName %>" type="text">
                                <h5>Email</h5>
                                <input disabled="true" name="email" value="<%= user.email %>" type="email">
                                <h5>Phone Number</h5>
                                <input name="phone" value="<%= user.phone %>" type="text">
                                <h5>Address</h5>
                                <input name="address" value="<%= user.address %>" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="input-save">
                        <input type="submit" value="Save changes" class="mc-btn btn-style-1">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="social-connect">
                    <h5>Social connect</h5>
                    <div class="add-link">
                        <i class="icon md-facebook-1"></i>
                        <input type="text" name="facebookUrl" placeholder="paste link here">
                    </div>
                    <div class="add-link">
                        <i class="icon icon md-twitter"></i>
                        <input type="text" name="twitterUrl" placeholder="paste link here">
                    </div>
                    <div class="add-link">
                        <i class="icon fa fa-instagram"></i>
                        <input type="text" name="instagramUrl" placeholder="paste link here">
                    </div>
                    <div class="add-link">
                        <i class="icon md-google-plus"></i>
                        <input type="text" name="googlePlusUrl" placeholder="paste link here">
                    </div>
                    <div class="add-link">
                        <i class="icon fa fa-linkedin"></i>
                        <input type="text" name="linkedinUrl" placeholder="paste link here">
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</section>


<!-- END / PROFILE -->
